body {
  background: #FFC594;
  font-family: 'Lucida Sans Unicode';
  line-height: 1.3;
  margin: 60px;
}

p {
  color: #808080;
  font-size: 20px;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h3 {
  color: #808080;
  font-size: 45px;
  font-style: italic;
  text-align: center;
}

.receipt {
  background: white;
  padding: 30px;
  margin: 60px;
}

.data {
  margin: 60px;
  text-align: left;
}

.logo{
  color: #FF8040;
  font-size: 70px;
  font-style: italic;
  text-align: center;
}
